<form [formGroup]="loginForm" class="login-container">
  <p class="login-title">Login form</p>

  <div class="form-control">
    <label class="form-label" for="">Username</label>
    <input class="form-input" type="text" formControlName="username" />

    <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid" class="error" >
      <div *ngIf="loginForm.get('username')?.hasError?.('required')">Username is required.</div>
    </div>
  </div>

  <div class="form-control">
    <label class="form-label" for="">Password</label>
    <input class="form-input" type="password" formControlName="password" />

    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="error" >
      <div *ngIf="loginForm.get('password')?.hasError?.('required')">Password is required.</div>
      <div *ngIf="loginForm.get('password')?.hasError?.('minLength')">Password at least 6 characters.</div>  
    </div>
  </div>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <a (click)="navigateToRegister()">Register new account </a>

  <button class="login-btn" [disabled]="loginForm.invalid" (click)="login()">Login</button>
</form>
