<h1>List users</h1>

<div class="table-container">
  <table class="table-users">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Fullname</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row" *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.fullName }}</td>
        <td class="actions">
          <a href="#" [routerLink]="['/home', user.id]" class="btn-view">View</a>
          <button type="button" (click)="sendEventDelete(user.id ?? '')" class="btn-delete">
            Delete
          </button>
        </td>
      </tr>
      <tr scope="row" *ngIf="users.length === 0">
        <td>No record found</td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" pageSize="pageSize" [length]="totalItems" (page)="nextPage($event)"></mat-paginator>
</div>
